{% extends "character_templates/layout.html" %}
{% load static %}

{% block name %} Ember {% endblock %}

{% block image %}
<img src="{% static 'character_static/images/Ember.webp' %}" alt = "">
{% endblock %}


{% block combos1 %}
<li>neutral light + neutral aerial</li>
<li>neutral light + neutral aerial</li>
<li>neutral light + neutral aerial</li>
<li>neutral light + neutral aerial</li>
<li>neutral light + neutral aerial</li>
<li>neutral light + neutral aerial</li>
<li>neutral light + neutral aerial</li>
{% endblock %}

{% block weapon1 %}Bow Combos ▲{% endblock %}

{% block weapon2 %}Katars Combos ▼{% endblock %}