{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href ='{% static "brawlhalla_static/css/choosing_styles.css" %}'>
</head>
<body>
    <a href="user/profile">
        <img src="{% static user.picture %}"
             alt="legend"
             onerror="this.onerror=null; this.src='{% static 'brawlhalla_static/images/legends_images/Random.webp' %}';"
             class="profile_img">
    </a>

    <p>{% block main_text %} {% endblock %}</p>
    <ul>
        {% block characters %} {% endblock %}
    </ul>
</body>
</html>