{% extends "character_templates/legend_layout.html" %}
{% load static %}

{% block title %} {{legend_name}} {% endblock %}
{% block name %} {{legend_name}} {% endblock %}

{% block image %}
    <img src="{% static legend_picture.name %}"
         alt="{{ legend_name }}"
         onerror="this.onerror=null; this.src='{% static 'brawlhalla_static/images/legends_images/Random.webp' %}';">
{% endblock %}

{% block weapon1 %}{{weapon1}} Combos ▲{% endblock %}

{% block combos1 %}
{% for combo in combos1 %}
    <li>{{ combo.get_all_attacks }}</li>
{% endfor %}
{% endblock %}


{% block weapon2 %}{{weapon2}} Combos ▼{% endblock %}

{% block combos2 %}
{% for combo in combos2 %}
    <li>{{ combo.get_all_attacks }}</li>
{% endfor %}
{% endblock %}