{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href ='{% static "brawlhalla_static/css/styles.css" %}'>
</head>
<body>
    <a href="/user/profile">
        <img src="{% static user.picture %}"
             alt="legend"
             onerror="this.onerror=null; this.src='{% static 'brawlhalla_static/images/legends_images/Random.webp' %}';"
             class="profile_img">
    </a>

    {% csrf_token %}
    <div class="left-side">
        <p></p>
        <b>{% block name %} {% endblock %}</b>
        {% block image %} {% endblock %}
    </div>
    <div class="right-side">
        <div class="weapon-with-combos">
            <h2 class="collapsible">{% block weapon1 %} {% endblock %}</h2>
            <ul class="content list" style="display: none;">
                {% block combos1 %} {% endblock %}
            </ul>
        </div>
        <p></p>
        <div class="weapon-with-combos">
            <h2 class="collapsible">{% block weapon2 %} {% endblock %}</h2>
            <ul class="content list" style="display: none;">
                {% block combos2 %} {% endblock %}
            </ul>
        </div>
    </div>

    <div id="tooltip" class="tooltip"></div>
    <div id="new_combo" class="new_combo"></div>

    {% block extra_js %} {% endblock extra_js %}
    {% block collapsible_lists_js %} {% endblock collapsible_lists_js%}
    {% block add_combo %} {% endblock add_combo%}
</body>
</html>