{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href ='{% static "brawlhalla_static/css/styles.css" %}'>
</head>
<body>
    <div class="left-side">
        <p></p>
        <b>{% block name %} {% endblock %}</b>
        {% block image %} {% endblock %}
    </div>
    <div class="right-side">
        <div class="weapon-with-combos">
            <h2>{% block weapon1 %} {% endblock %}</h2>
            <ul class="list">
                {% block combos1 %} {% endblock %}
            </ul>
        </div>
        <p></p>
        <div class="weapon-with-combos">
            <h2>{% block weapon2 %} {% endblock %}</h2>
            <ul class="list">
                {% block combos2 %} {% endblock %}
            </ul>
        </div>
    </div>
</body>
</html>