{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href ='{% static "user_static/css/user.css" %}'>
</head>
<body>

    <h2 class="hi" > {% block main_text %} {% endblock main_text %} </h2>
    <div class="field">
        <label>Email:</label>
        <input type="email" class="ok form-control" id="email" name="email" placeholder="Enter email" >
    </div>
    <div class="field">
        <label>Password:</label>
        <input class="ok" type="password" class="form-control" id="password" name="password" placeholder="Enter password" >
    </div>
        <button class="btn" type="submit">{% block submit_name %} {% endblock submit_name %}</button>
        <p class="bottom">{% block another_page_text %} {% endblock another_page_text %}  {% block another_page %} {% endblock another_page %}</p>
    </form>


</body>
</html>